:root {
    --primary-color: #335384;
    --secondary-color: #5caad4;
    --tertiary-color: white;
    --quaternary-color: #444440;
    --quinary-color: #B5BCB8;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: var(--tertiary-color);
}

.wrapper {
    max-width: 900px;
}

@media only screen and (min-width: 900px) {
    .wrapper {
        margin: 1em;
        box-shadow: 0px 5px 10px 5px var(--quinary-color);
    }
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: var(--primary-color);
}

.header-right {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    margin: 2em;
}

.header-left-figure-img {
    border-radius: 50%;
    margin: 2em;
}

.header-left-figure-figcaption {
    opacity: 0;
}

.header-right-title {
    font-size: 3em;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: uppercase;
}

.header-right-job {
    margin-top: 1em;
    font-size: 2em;
    font-weight: 500;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.main {
    margin: 2em;
    display: flex;
    flex-flow: column wrap;
    color: var(--quaternary-color);
}

.main-article-title {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: 550;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.main-article-section {
    margin-top: 0.5em;
}

.main-article-section-title {
    font-size: 0.9em;
    font-weight: 550;
    text-transform: uppercase;
}

.main-article-section-subtitle {
    font-size: 0.6em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.main-article-section-list-item {
    margin-left: 1em;
    list-style-type: disc;
}

.main-article-section-paragraph {
    font-size: 0.6em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 2em;
}

.footer-article {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
}

.footer-article-title {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: 550;
    text-transform: uppercase;
}

.footer-article-address-list-item,
.footer-article-list-item {
    margin-top: 0.5em;
}

.fas,
.fab {
    margin-right: 0.7em;
}